@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 0 0% 1.2%; /* #030303 */
    --foreground: 0 0% 98%;
    --card: 240 4% 8%;
    --card-foreground: 0 0% 98%;
    --popover: 0 0% 1.2%;
    --popover-foreground: 0 0% 98%;
    --primary: 259 92% 66%; /* #a78bfa */
    --primary-foreground: 0 0% 98%;
    --secondary: 240 4% 12%;
    --secondary-foreground: 0 0% 98%;
    --muted: 240 4% 12%;
    --muted-foreground: 240 5% 64.9%;
    --accent: 259 92% 66%;
    --accent-foreground: 0 0% 98%;
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 0 0% 98%;
    --border: 240 4% 12%;
    --input: 240 4% 10%;
    --ring: 259 92% 66%;
    --radius: 0.5rem;
    --sidebar-background: 0 0% 100%;
    --sidebar-foreground: 0 0% 3.9%;
    --sidebar-primary: 263 88% 60%;
    --sidebar-primary-foreground: 0 0% 98%;
    --sidebar-accent: 0 0% 96.1%;
    --sidebar-accent-foreground: 0 0% 9%;
    --sidebar-border: 0 0% 89.8%;
    --sidebar-ring: 263 88% 65%;
  }
  .dark {
    --background: 0 0% 1.2%;
    --foreground: 0 0% 98%;
    --card: 240 4% 8%;
    --card-foreground: 0 0% 98%;
    --popover: 0 0% 1.2%;
    --popover-foreground: 0 0% 98%;
    --primary: 259 92% 66%;
    --primary-foreground: 0 0% 98%;
    --secondary: 240 4% 12%;
    --secondary-foreground: 0 0% 98%;
    --muted: 240 4% 12%;
    --muted-foreground: 240 5% 64.9%;
    --accent: 259 92% 66%;
    --accent-foreground: 0 0% 98%;
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 0 0% 98%;
    --border: 240 4% 12%;
    --input: 240 4% 10%;
    --ring: 259 92% 66%;
    --sidebar-background: 240 10% 4%;
    --sidebar-foreground: 0 0% 98%;
    --sidebar-primary: 263 88% 60%;
    --sidebar-primary-foreground: 0 0% 98%;
    --sidebar-accent: 240 4% 12%;
    --sidebar-accent-foreground: 0 0% 98%;
    --sidebar-border: 240 4% 15%;
    --sidebar-ring: 263 88% 65%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-black text-foreground;
  }
}
